*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.body {}

/* header-top-area-start */
.header-top-area {
    
}

/* header-top-info */
.header-top {
    justify-content: center;
    width: 100%;
    height: 70px;
	background: #241E2F;
	border-radius: 0 0 100px 100px;
    color: #FFF;
}

.header-top-info {
    display: inline-block;
    width: 100%;
    padding-left: 20px;
}

.header-top-info ul {
    display: inline-block;
}

.header-top-info ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    margin-right: 30px;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
}

.header-top-info ul li i {
    position: absolute;
    color: #DE2C2C;
    font-size: 24px;
    left: 0;
    top: 1px;
    font-weight: 400;
}

.header-top-info ul li a,.header-top-info ul li span {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    left: 4px;
    transition: 0.5s;
}

.header-top-info ul li a:hover {
    color: #DE2C2C;
}
/* header-top-social */
.header-top-social {
    display: inline-block;
    width: 100%;
    position: relative;
    align-items: center;
    text-align: right;
    padding-right: 25px;
}

.header-top-social ul {
    display: inline-block;
}

.header-top-social ul li {
    list-style: none;
    display: inline-flex;
}

.header-top-social ul li a {
    text-decoration: none;
}

.header-top-social ul li a span, .header-top-social ul li a i {
    color: #fff;
}

.header-top-social ul li a i{
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    transition: 0.5s;
}

.header-top-social ul li a i:hover {
    color: #DE2C2C;
}

.top-login {
    display: inline-block;
    position: relative;
    font-size: 18px;
    padding-right: 28px;
    margin-right: 30px;
    line-height: 70px;
    font-weight: 600;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}


.header-top-social ul li span {
    display: inline-block;
}

.header-top-social ul li span a {
    /* position: relative; */
    color: #fff;
    transition: 0.5s;
}

.header-top-social ul li span a:hover {
    color: #DE2C2C;
}
/* header top area end */

.header-main-area {}
.header-main {
    display: inline-block;
    width: 100%;
    height: 110px;
    margin: 0;
    padding: 0;
}

.header-main-logo {
    margin: 0 0 20px 0px;
}

.header-main-logo a {}
.header-main-logo a img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
}


.header-main-menu {
    display: inline-block;
}

.header-main-menu ul {
    display: inline-block;
}

.header-main-menu ul li {
    display: inline-block;
    list-style: none;
    line-height: 110px;
    height: 110px;
}

.header-main-menu ul li a {
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

.header-main-menu ul li a:hover {
    color: #DE2C2C;
}

.header-main-menu ul li a span {
    font-size: 20px;
    font-weight: 400;
    padding: 0 5px 0px 0px;
}

.current {
    margin: 0px 15px 0px 0;
}
.current a span, .current .svg-inline--fa.fa-angle-down.fa-w-10{
    color: #DE2C2C;
}

.dropdwon {
    margin: 0 15px 0 15px;
}
.dropdwon a {
    padding: 42px 0 42px 0;
}

.dropdwon a i {
    
}


.header-right-content {
    display: inline-block;
}

.header-right-content li {
    display: inline-block;
    list-style: none;
}
.search-icon {
    position: relative;
    width: 22px;
    height: 22px;
    top: 5px;
    right: 13px;
}

.search-icon a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    transition: 0.5s;
}

.search-icon a:hover {
    color: #DE2C2C;
}

.header-right-content li a i {
    position: relative;
    font-size: 22px;
    font-weight: 500;
}


.btn-box {
    display: inline-block;
}

.btn-box a {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    color: #333;
    background: rgb(255, 255, 255);
    padding: 12px 38px;
    border-radius: 25px;
    border: 1px rgba(51, 51, 51, 0.373) solid;
    transition: 0.5s;
}

.btn-box a:hover {
    background: red;
    color: #fff;
}